<!-- navbar -->
<header>
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-space">
        <div class="nav-logo">
          <h2>sine<span>Mkt.</span></h2>
        </div>
        <div class="nav-list">
          <ul>
            <li>Home</li>
            <li>New Arrival</li>
            <li>Feature</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="nav-icon">
          <i class="ri-search-line"></i>
          <i class="ri-settings-5-fill"></i>
          <i class="ri-shopping-cart-2-line"></i>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- container -->
  <div class="container-context-1">
    <div class="item-active">
      <div class="box-1">
        <div class="row">
          <h4>Great Design Collection</h4>
          <h2>Cloth Covered Accent Chair</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor ut <br> labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip.
          </p>
        </div>
        <div class="packages-price">
          <p>
            $ 399.00
            <del>$ 499.00</del>
          </p>
        </div>
        <button class="btn-cart btn-cart-1">
          <i class="ri-add-circle-line"></i>
          add to cart
        </button>
        <button class="btn-cart btn-cart-2">
          more info
        </button>
      </div>
      <div class="img-1">
        <img src="../assets/images/slider2.png" alt="slider image">
      </div>
    </div>
  </div>

<!-- products -->
<section id="popular-products">
  <div class="container">
    <div class="single-popular-products">
      <div class="row">
        <div class="single-populer-product-img">
          <img src="../assets/images/p1.png" alt="populer-products images">
        </div>
        <h2>arm chair</h2>
        <div class="single-populer-products-para">
          <p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
        </div>
      </div>
    </div>
    <div class="single-populer-products">
      <div class="single-inner-populer-products">
        <div class="row-2">
          <div class="single-inner-populer-product-img">
            <img src="../assets/images/p2.png" alt="populer-products images">
          </div>
          <div class="single-inner-populer-product-txt">
            <h2>
              latest designed stool <span>and</span> chair
            </h2>
            <p>
              Edi ut perspiciatis unde omnis iste natusina <br> error sit voluptatem accusantium doloret mque <br>
              laudantium,
              totam rem aperiam.
            </p>
            <div class="populer-products-price">
              <h4>Sales Start from <span>$99.00</span></h4>
            </div>
            <button class="btn-cart-3">
              discover more
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="single-popular-products">
      <div class="single-populer-product">
        <div class="row">
          <div class="single-popular-product-img">
            <img src="../assets/images/p3.png" alt="populer-products images">
          </div>
          <h2>hanging lamp</h2>
          <div class="single-populer-products-para">
            <p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- new arrival -->
<section id="new-arrivals" class="new-arrivals">
  <div class="container">
    <div class="section-header">
      <h2>new arrivals</h2>
    </div>
    <div class="new-arrivals-content">
      <div class="row-1">
        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals1.png" alt="new-arrivals images">
            <div class="sale bg-1">
              <p>sale</p>
            </div>
          </div>
          <h4>wooden chair</h4>
          <p class="arrival-product-price">$65.00</p>
        </div>

        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals2.png" alt="new-arrivals images">
            <div class="sale bg-2">
              <p>sale</p>
            </div>
          </div>
          <h4>single armchair</h4>
          <p class="arrival-product-price">$80.00</p>
        </div>

        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals3.png" alt="new-arrivals images">
          </div>
          <h4>wooden armchair</h4>
          <p class="arrival-product-price">$40.00</p>
        </div>

        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals4.png" alt="new-arrivals images">
            <div class="sale bg-1">
              <p>sale</p>
            </div>
          </div>
          <h4>stylish chair</h4>
          <p class="arrival-product-price">$100.00</p>
        </div>
      </div>
      <div class="row-3">
        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals5.png" alt="new-arrivals images">

          </div>
          <h4>modern chair</h4>
          <p class="arrival-product-price">$120.00</p>
        </div>
        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals6.png" alt="new-arrivals images">
            <div class="sale bg-1">
              <p>sale</p>
            </div>

          </div>
          <h4>mapple wood dinning table</h4>
          <p class="arrival-product-price">$140.00</p>
        </div>

        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals7.png" alt="new-arrivals images">
            <div class="sale bg-2">
              <p>sale</p>
            </div>

          </div>
          <h4>arm chair</h4>
          <p class="arrival-product-price">$90.00</p>
        </div>

        <div class="single-new-arrival">
          <div class="single-new-arrival-bg">
            <img src="../assets/images/arrivals8.png" alt="new-arrivals images">
          </div>
          <h4>wooden bed</h4>
          <p class="arrival-product-price">$140.00</p>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- sofa collection -->
<section id="sofa-collection">
  <div id="collection">
    <div class="sofa-collection collectionbg1">
      <div class="container">
        <div class="sofa-collection-txt">
          <h2>unlimited sofa collection</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis <br> nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </p>
          <div class="sofa-collection-price">
            <h4>starting from <span>$ 199</span></h4>
          </div>
          <button class="btn-cart">
            view more
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- feature -->
<section id="feature" class="feature">
  <div class="container">
    <div class="section-header">
      <h2>featured products</h2>
    </div>
    <div class="feature-content">
      <div class="row">
          <div class="single-feature">
            <img src="../assets/images/f1.jpg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <span class="special-feature-icon"><i class="ri-star-fill"></i></span>
                <span class="feature-review">(45 review)</span>
              </p>
              <h3>designed sofa</h3>
              <h5>$160.00</h5>
            </div>
          </div>

          <div class="single-feature">
            <img src="../assets/images/f2.jpg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <span class="special-feature-icon"><i class="ri-star-fill"></i></span>
                <span class="feature-review">(45 review)</span>
              </p>
              <h3>dinning table</h3>
              <h5>$200.00</h5>
            </div>
          </div>
      
 
          <div class="single-feature">
            <img src="../assets/images/f3.jpg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <span class="special-feature-icon"><i class="ri-star-fill"></i></span>
                <span class="feature-review">(45 review)</span>
              </p>
              <h3>chair and table</h3>
              <h5>$100.00</h5>
            </div>
          </div>
       
     
          <div class="single-feature">
            <img src="../assets/images/f4.jpg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <span class="special-feature-icon"><i class="ri-star-fill"></i></span>
                <span class="feature-review">(45 review)</span>
              </p>
              <h3>modern arm chair</h3>
              <h5>$299.00</h5>
            </div>
          </div>
      </div>
    </div>
  </div>

</section>

<!-- blog -->
<section id="blog" class="blog">
  <div class="container">
    <div class="section-header">
      <h2>latest blog</h2>
    </div>
    <div class="blog-content">
      <div class="row">

        <div class="single-blog">
          <div class="single-blog-img">
            <img src="../assets/images/b1.jpg" alt="blog image">
          </div>
          <div class="single-blog-txt">
            <h2>Why Brands are Looking at Local Language</h2>
            <h3>By Robert Norby / 18th March 2018</h3>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
              dolores eos qui ratione voluptatem sequi nesciunt....
            </p>
          </div>
        </div>

        <div class="single-blog">
          <div class="single-blog-img">
            <img src="../assets/images/b2.jpg" alt="blog image">
          </div>
          <div class="single-blog-txt">
            <h2>Why Brands are Looking at Local Language</h2>
            <h3>By Robert Norby / 18th March 2018</h3>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
              dolores eos qui ratione voluptatem sequi nesciunt....
            </p>
          </div>
        </div>

        <div class="single-blog">
          <div class="single-blog-img">
            <img src="../assets/images/b3.jpg" alt="blog image">
          </div>
          <div class="single-blog-txt">
            <h2>Why Brands are Looking at Local Language</h2>
            <h3>By Robert Norby / 18th March 2018</h3>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
              dolores eos qui ratione voluptatem sequi nesciunt....
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- clinets -->
<section id="clients" class="clients">
  <div class="container">
    <div id="client">
      <div class="item">
          <img src="../assets/images/c1.png" alt="brand-image" />
      </div>
      <div class="item">
          <img src="../assets/images/c2.png" alt="brand-image" />
      </div>
      <div class="item">
          <img src="../assets/images/c3.png" alt="brand-image" />
      </div>
      <div class="item">
          <img src="../assets/images/c4.png" alt="brand-image" />
      </div>
      <div class="item">
          <img src="../assets/images/c5.png" alt="brand-image" />
      </div>
    </div>

  </div>

</section>

<!-- newsletters -->
<section id="newsletter" class="newsletter">
  <div class="container">
    <div class="hm-footer-details">
      <div class="row">

        <div class="hm-footer-widget">
          <div class="hm-foot-title">
            <h4>information</h4>
          </div>
          <div class="hm-foot-menu">
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">contact us</a></li>
              <li><a href="#">news</a></li>
              <li><a href="#">store</a></li>
            </ul>
          </div>
        </div>


        <div class="hm-footer-widget">
          <div class="hm-foot-title">
            <h4>collections</h4>
          </div>
          <div class="hm-foot-menu">
            <ul>
              <li><a href="#">wooden chair</a></li>
              <li><a href="#">royal cloth sofa</a></li>
              <li><a href="#">accent chair</a></li>
              <li><a href="#">bed</a></li>
              <li><a href="#">hanging lamp</a></li>
            </ul>
          </div>
        </div>


        <div class="hm-footer-widget">
          <div class="hm-foot-title">
            <h4>my accounts</h4>
          </div>
          <div class="hm-foot-menu">
            <ul>
              <li><a href="#">my account</a></li>
              <li><a href="#">wishlist</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">order history</a></li>
              <li><a href="#">my cart</a></li>
            </ul>
          </div>
        </div>

        <div class="hm-footer-widget">
          <div class="hm-foot-title">
            <h4>newsletter</h4>
          </div>
          <div class="hm-foot-para">
            <p>
              Subscribe to get latest news,update and information.
            </p>
          </div>
          <div class="hm-foot-email">
            <div class="foot-email-box">
              <input type="text" class="form-control" placeholder="Enter Email Here....">
            </div>
            <div class="foot-email-subscribe">
              <i class="ri-send-plane-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<footer id="footer" class="footer">
  <div class="container">
    <div class="hm-footer-copyright text-center">
      <div class="footer-social">
        <a href="#">
          <i class="ri-facebook-fill"></i>
        </a>
        <a href="#">
          <i class="ri-instagram-line"></i>
        </a>
        <a href="#">
          <i class="ri-linkedin-fill"></i>
        </a>
        <a href="#">
          <i class="ri-pinterest-fill"></i>
        </a>
        <a href="#">
          <i class="ri-behance-fill"></i>
        </a>
      </div>
      <p>
        &copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
      </p>
    </div>
  </div>

</footer>