/* header{
    min-height: 100vh;
    min-width: 100%;
}
.navbar{
    height: 500px;
    width: 100%;
    display: flex;
}
.navbar-content{
    display: flex;
    flex-direction: row;
} */
